/**
 * Sign in
 */

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 360;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 2px 4px 0 #a0b3c1;
  box-shadow: 0 2px 4px 0 #a0b3c1;
}

.login__headline {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.login__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.login__tabs .btn.btn_tab {
  width: 50%;
}
