<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Totally Reliable Messenger</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="https://kit.fontawesome.com/741f9cea41.js" crossorigin="anonymous"></script>
    <link
      href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css"
      media="all"
      rel="stylesheet"
    />
    <link
      href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css"
      media="all"
      rel="stylesheet"
    />
    <link
      href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css"
      media="all"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="messenger container">
      <div class="messenger__inner">
        <div class="messenger__verbose">
          <div class="verbose__block">
            <div class="verbose__headline">5**</div>
            <div class="verbose__text">
              What did you do?
            </div>
            <div class="verbose__text">
              Go <a href="#" class="btn btn_common btn_accent btn_inline">back</a> and try not to
              break something again.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
