<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Totally Reliable Messenger</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="https://kit.fontawesome.com/741f9cea41.js" crossorigin="anonymous"></script>
    <link
      href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css"
      media="all"
      rel="stylesheet"
    />
    <link
      href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css"
      media="all"
      rel="stylesheet"
    />
    <link
      href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css"
      media="all"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="messenger container">
      <div class="messenger__inner">
        <div class="sidebar">
          <div class="zone_app zone_app_top">
            <div class="ham">
              <button id="back" class="btn btn_app">
                <i class="fas fa-arrow-left"></i>
              </button>
            </div>
            <div class="user">
              <form action="#" id="statusForm">
                <div class="input__field">
                  <input
                    type="text"
                    id="statusInput"
                    placeholder="Type your status"
                    class="input input_flat"
                  />
                </div>
              </form>
              <img src="https://via.placeholder.com/50" alt="Username" class="chat-item__avatar" />
            </div>
          </div>
          <div class="settings-wrapper">
            <ul class="settings">
              <li class="settings__item settings__item_active">
                <button class="setting">
                  <span class="setting__icon"><i class="fas fa-cog"></i></span>
                  <span class="setting__text">Settings</span>
                </button>
              </li>
              <li class="settings__item">
                <button class="setting">
                  <span class="setting__icon"><i class="far fa-moon"></i></span>
                  <span class="setting__text">Night mode</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="settings-window">
          <div class="settings-window__inner">
            <div class="settings-window__container">
              <div class="settings-user__block">
                <div class="settings-user__avatar">
                  <img src="https://via.placeholder.com/150" alt="Username" />
                </div>
              </div>
              <div class="settings-user__block settings-user__block_small">
                <div class="settings-user__field">
                  <div class="settings-user__key">Login</div>
                  <div class="settings-user__value">Username</div>
                </div>
                <div class="settings-user__field">
                  <div class="settings-user__key">Email</div>
                  <div class="settings-user__value">test@test.test</div>
                </div>
              </div>
              <div class="settings-user__block settings-user__block_small">
                <div class="settings-user__field">
                  <div class="settings-user__key">
                    <button class="btn btn_common">Edit data</button>
                  </div>
                </div>
                <div class="settings-user__field">
                  <div class="settings-user__key">
                    <button class="btn btn_danger">Log out</button>
                  </div>
                </div>
              </div>
              <div class="settings-user__block">
                <div class="settings-user__field">
                  <div class="settings-user__key">
                    <button class="btn btn_flat btn_flat_danger">Delete account</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
