* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #424242;
  font-family: 'Open Sans', sans-serif;
  font-size: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/**
 * Custom scrollbar
 * There will be some tiny JS-scrollbar later
 */

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  border: 0.125rem solid #a0b3c1;
}

::-webkit-scrollbar-thumb {
  background-color: #6e899e;
}

/**
 * Grid templates
 */

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/**
 * Verbose
 */

.messenger__verbose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
}

.verbose__block {
  max-width: 600px;
  text-align: center;
}

.verbose__headline {
  margin: 1rem 0 3rem;
  font-size: 3rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.verbose__text {
  margin: 1.125rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

/**
 * Buttons
 */

.btn {
  padding: 0;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: unset;
  cursor: pointer;
}

.btn.btn_full-width {
  width: 100%;
}

.btn.btn_app {
  width: 2.5rem;
  height: 2.5rem;
  color: #a0b3c1;
  font-size: 1.5rem;
}

.btn.btn_common {
  color: #0e63e0;
}

.btn.btn_danger {
  color: #ef0000;
}

.btn.btn_flat {
  padding: 1rem 0.75rem;
  border-radius: 0.5rem;
  color: #ffffff;
}

.btn.btn_flat.btn_flat_common {
  background-color: #0e63e0;
}

.btn.btn_flat.btn_flat_danger {
  background-color: #ef0000;
}

.btn.btn_accent {
  text-decoration: underline;
}

.btn.btn_tab {
  padding: 0.75rem 1.25rem;
  border-bottom: 2px solid #6e899e;
  text-align: center;
}

.btn.btn_tab:hover {
  border-color: #0e63e0;
}

.btn.btn_tab.btn_tab_active {
  border-color: #0e63e0;
  background-color: #afcfff42;
}

/**
 * Forms
 */

.fieldset {
  border: none;
}

.fieldset:not(:last-child) {
  margin-bottom: 3rem;
}

.input-field {
  position: relative;
}

.input-field:not(:last-child) {
  margin-bottom: 1rem;
}

.input-field.input-field_centered {
  text-align: center;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.875rem;
}

.input {
  height: 2.5rem;
  border: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}

.input.input_common {
  padding: 0.5rem 0;
  border-bottom: 1px solid #2b77e7;
}

.input.input_flat {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.input.input_full-width {
  width: 100%;
}

/**
 * Messenger
 */

.messenger {
  height: 100vh;
  border-right: 1px solid #ced8df;
  border-left: 1px solid #ced8df;
}

.messenger__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.zone_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
  padding: 0 0.75rem;
  background-color: #f0f2f5;
}

.zone_app.zone_app_top {
  border-bottom: 1px solid #ced8df;
}

.zone_app.zone_app_bottom {
  border-top: 1px solid #ced8df;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background-color: #f0f2f5;
  border-right: 1px solid #ced8df;
}

.meta {
  border-bottom: 1px solid #ced8df;
}

.search {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 0.75rem;
}

.chat-list-wrapper {
  overflow: auto;
}

.chat-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat {
  width: 75%;
  height: 100%;
}

.chat__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.chat__inner.chat__inner_empty {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.chat__verbose {
  font-size: 0.875rem;
}

/**
 * Chat dialog
 */

.chat-list__item {
  display: block;
  width: 100%;
}

.chat-item {
  width: 100%;
  height: 5rem;
  padding: 0 0.75rem;
  border: 0;
  outline: none;
  background-color: #f0f2f5;
  cursor: pointer;
}

.chat-item.chat-item_open {
  height: 3rem;
  margin-right: 0.75rem;
  padding: 0;
}

.chat-list__item:hover .chat-item {
  background-color: #ced8df;
}

.chat-list__item.chat-list__item_active .chat-item {
  background-color: #2b77e7;
  color: #ffffff;
}

.chat-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

.chat-item.chat-item_open .chat-item__inner {
  padding: 0;
}

.chat-list__item:not(:first-child) .chat-item__inner {
  border-top: 1px solid #ced8df;
}

.chat-list__item:hover + .chat-list__item .chat-item__inner {
  border-top-color: transparent;
}

.chat-item__avatar {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 3rem;
  flex-basis: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.chat-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
  padding-left: 0.75rem;
  overflow: hidden;
  font-size: 0.875rem;
}

.chat-item__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: left;
  direction: ltr;
  overflow: hidden;
}

.chat-item__user {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.chat-item__message {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.chat-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 3rem;
  flex-basis: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.chat-item__date {
  font-size: 0.75rem;
}

.chat-item__unread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1.3125rem;
  height: 1.3125rem;
  margin-top: auto;
  border-radius: 50%;
  overflow: hidden;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #2b77e7;
}

.chat-list__item.chat-list__item_active .chat-item__unread {
  display: none;
}

/**
 * Chat
 */

.chat__feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.chat__writing-area {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 0.75rem;
}

/**
 * Messages
 */

.message {
  max-width: 75%;
  padding: 1rem;
  font-size: 0.875rem;
}

.message-list {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 0 0 1rem;
  padding: 0;
}

.message-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0.75rem;
  cursor: pointer;
}

.message-list__item:hover {
  background-color: #ced8df;
}

.message-list__item.message-list__item_sent {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.message-list__item.message-list__item_received {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.message {
  border-radius: 0.5rem;
}

.message-list__item.message-list__item_sent .message {
  background-color: #f0f2f5;
}

.message-list__item.message-list__item_received .message {
  color: #ffffff;
  background-color: #2b77e7;
}

.message__text {
  margin-bottom: 0.5rem;
}

.message__date {
  font-size: 0.675rem;
  text-align: right;
}

/**
 * Sign in
 */

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 360;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 2px 4px 0 #a0b3c1;
  box-shadow: 0 2px 4px 0 #a0b3c1;
}

.login__headline {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.login__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.login__tabs .btn.btn_tab {
  width: 50%;
}

/**
 * User
 */

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 0.75rem;
}

form#statusForm {
  margin-right: 0.75rem;
}

/**
 * Settings
 */

.settings-wrapper {
  overflow: auto;
}

.settings {
  padding: 0;
  margin: 0;
  list-style: none;
}

.settings__item {
  display: block;
  width: 100%;
}

.setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0.75rem;
  border: none;
  outline: none;
  color: #a0b3c1;
  font-size: 1rem;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}

.setting:hover {
  background-color: #ced8df;
}

.settings__item.settings__item_active .setting {
  color: #ffffff;
  background-color: #2b77e7;
}

.setting__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.settings-window {
  width: 75%;
  height: 100%;
}

.settings-window__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 3rem 2rem 2rem;
}

.settings-window__container {
  width: 100%;
  max-width: 480px;
}

.settings-user__block:not(:last-child) {
  margin-bottom: 3rem;
}

.settings-user__block.settings-user__block_small:not(:last-child) {
  margin-bottom: 2rem;
}

.settings-user__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 1rem 0;
}

.settings-user__field:not(:last-child) {
  border-bottom: 1px solid #ced8df;
}

.settings-user__avatar {
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
}

.settings-user__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.settings-user__key,
.settings-user__key * {
  font-size: 1rem;
}

.settings-user__value,
.settings-user__value * {
  margin-left: auto;
  color: #a0b3c1;
  font-size: 0.875rem;
}
