/**
 * Chat list
 */

.chat-list-wrapper {
  overflow: auto;
}

.chat-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.chat.chat_empty {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.chat__verbose {
  font-size: 0.875rem;
}

/**
 * Chat dialog
 */

.chat-list__item {
  display: block;
  width: 100%;
}

.chat-item {
  width: 100%;
  height: 5rem;
  padding: 0 0.75rem;
  border: 0;
  outline: none;
  background-color: #f0f2f5;
  cursor: pointer;
}

.chat-item.chat-item_open {
  height: 3rem;
  padding: 0;
  cursor: initial;
}

.chat-list__item:hover .chat-item {
  background-color: #ced8df;
}

.chat-list__item.chat-list__item_active .chat-item {
  background-color: #2b77e7;
  color: #ffffff;
}

.chat-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

.chat-item.chat-item_open .chat-item__inner {
  padding: 0;
}

.chat-users__user-remove {
  margin: 0 0.75em;
  padding: 0.5em;
  border: none;
  font-size: 0.6125em;
  background-color: unset;
  cursor: pointer;
  visibility: hidden;
}

.chat-users__name {
  display: flex;

  &:hover .chat-users__user-remove {
    visibility: visible;
  }
}

.chat-list__item:not(:first-child) .chat-item__inner {
  border-top: 1px solid #ced8df;
}

.chat-list__item:hover + .chat-list__item .chat-item__inner {
  border-top-color: transparent;
}

.chat-item__avatar {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 3rem;
  flex-basis: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.chat-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
  padding-left: 0.75rem;
  overflow: hidden;
  font-size: 0.875rem;
}

.chat-item__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: left;
  direction: ltr;
  overflow: hidden;
}

.chat-item__user {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.chat-item__message {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.chat-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 3rem;
  flex-basis: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.chat-item__date {
  font-size: 0.75rem;
}

.chat-item__unread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1.3125rem;
  height: 1.3125rem;
  margin-top: auto;
  border-radius: 50%;
  overflow: hidden;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #2b77e7;
}

.chat-list__item.chat-list__item_active .chat-item__unread {
  display: none;
}

.chat-users {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat-users__user {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 1em;
  }
}

/**
 * Chat screen
 */

.chat__feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.chat__form {
  height: 100%;
}

.chat__writing-area {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 0.75rem;
}

/**
 * Messages
 */

.message {
  max-width: 75%;
  padding: 1rem;
  font-size: 0.875rem;
}

.message-list {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 0 0 1rem;
  padding: 0;
}

.message-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0.75rem;
  cursor: pointer;
}

.message-list__item:hover {
  background-color: #ced8df;
}

.message-list__item.message-list__item_sent {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.message-list__item.message-list__item_received {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.message {
  border-radius: 0.5rem;
}

.message-list__item.message-list__item_sent .message {
  background-color: #f0f2f5;
}

.message-list__item.message-list__item_received .message {
  color: #ffffff;
  background-color: #2b77e7;
}

.message__text {
  margin-bottom: 0.5rem;
}

.message__date {
  font-size: 0.675rem;
  text-align: right;
}
