/**
 * User
 */

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 0.75rem;
}

form#statusForm {
  margin-right: 0.75rem;
}

/**
 * Settings
 */

.settings-wrapper {
  overflow: auto;
}

.settings {
  padding: 0;
  margin: 0;
  list-style: none;
}

.settings__item {
  display: block;
  width: 100%;
}

.setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0.75rem;
  border: none;
  outline: none;
  color: #a0b3c1;
  font-size: 1rem;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}

.setting:hover {
  background-color: #ced8df;
}

.settings__item.settings__item_active .setting {
  color: #ffffff;
  background-color: #2b77e7;
}

.setting__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.settings-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 3rem 2rem 2rem;
}

.settings-window__container {
  width: 100%;
  max-width: 480px;
}

.settings-user__block:not(:last-child) {
  margin-bottom: 3rem;
}

.settings-user__block.settings-user__block_small:not(:last-child) {
  margin-bottom: 2rem;
}

.settings-user__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 1rem 0;
}

.settings-user__field:not(:last-child) {
  border-bottom: 1px solid #ced8df;
}

.settings-user__avatar {
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
}

.settings-user__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.settings-user__key,
.settings-user__key * {
  font-size: 1rem;
}

.settings-user__value,
.settings-user__value * {
  margin-left: auto;
  color: #a0b3c1;
  font-size: 0.875rem;
}
